{{#each patients as |patient| }}
    <li class="nav-item">
        <a class="nav-link collapsed patient-nav-link" href="/api/patients/{{patient.id}}"  id="recordDisplay" >
            <span>{{patient.name}}</span>
        </a>
    </li>
{{/each}}
