<div class="calendar calendar-first" id="calendar_first">
        <div class="calendar_header">
            <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
                <h2></h2>
            <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
        </div>
    <div class="calendar_weekdays"></div>
    <div class="calendar_content"></div>
</div>

<script src='/js/calendar.js'></script>
