{{#each records as |record| }}
    <a href="/" class="list-group-item list-group-item-action active py-3 lh-tight text-nowrap" aria-current="true">
        <div class="colum align-center mb-5">
            <div class="col-md-6">
              <h2> {{record.title}}</h2>
            </div>
        </div> 
    </a>
{{/each}}

<script src="/js/recordDisplay.js"></script>
