<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Patient Records</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">MVC Patient Records</a>
      </h1>
        <nav>
          <span><a href="/">home</a></span> 
          {{#if logged_in}}
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
        </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>