<!DOCTYPE html>
<html lang="en" class=" bg-dark text-white">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>MVC Patient Records</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Custom styles for this template-->
  <link href="/css/stylec.css" rel="stylesheet">
  {{!-- style sheet for login and signup --}}
  <link rel="stylesheet" href="/css/style.css">

</head>

<body  id="page-top" class=" bg-dark text-white">
  <!-- Prevents sidebar and topbar from displaying for sign in and sign up pages -->
  {{#if logged_in}}
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav content-wrapper bg-gradient-dark-o sidebar sidebar-dark ">
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex text-top align-items-center justify-content-center" href="/">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3">MVC Patient Records</div>
          </a>
          <!-- Divider -->
          <hr class="sidebar-divider my-0">
          <!-- Nav Item - Dashboard -->
          <li class="nav-item active createlink">
              <a class="nav-link " href="/api/patients/create">
                  <span>Need to Add a New Patient?</span>
              </a>
          </li>
          <!-- Divider -->
          <hr class="sidebar-divider">
          <!-- Heading -->
          <div class="sidebar-heading text-white">
              Patients
          </div>
          <!-- Nav Item - Pages Collapse Menu -->
          {{#if viewAll}}
          {{>all-patient-name}}
          {{else}}
          {{>user-patient-name}}
          {{/if}}
          <div class="wrapper wrapperCu">
          <footer class="text-center text-bottom bg-dark text-white">
           Thanks for visiting!💚
          </footer>
          </div>
      </ul>
      <div id="content-wrapper" class="d-flex flex-column bg-dark">
        <nav class="navbar navbar-expand navbar-light bg-dark-c topbar static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
          </button>
          <!-- Topbar Search -->
          <!-- Hidden by default until search.js is linked for relevant pages -->
          <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search hide" id="search">
            <div class="input-group container">
              <input type="text" class="form-control bg-light searchInput border-0 small" placeholder="Search"
                  aria-label="Search" aria-describedby="basic-addon2" id="search-bar">
              <div class="input-group-append">
                <button class="btn btn-primary-s" id="searchBtn"type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
            <div class="input-group container">
              <label for="categores">Search By Category</label>
              <select id="categories" name="categories">
                <option value="All">All</option>
                <option value="Patient Name">Patient Name</option>
                <option value="Record Subject">Record Subject</option>
              </select>
            </div>
          </form>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav">
            <!-- Nav Item - User Information -->
            <li class="nav-item active row">
              <a class="nav-link m-lc draw meet text-white">Welcome</a>
              <a class="nav-link m-lc draw meet text-green userDisplay">{{user.username}}!</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link m-lc text-white draw meet" href="/settings/{{user.id}}">Settings <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-font-color m-lc mr-2 text-white" href="#logout" id="logout">Logout</a>
            </li>
          </ul>
        </nav>
        {{/if}}
        <main class="text-center bg-dark">
          {{{ body }}}
        </main>
    </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <!-- Custom scripts for all pages-->
  {{!-- <script src="/js/sb-admin-2.min.js"></script> --}}
  {{!-- <script src="/js/editUser.js"></script> --}}
  {{!-- <script src="/js/deletePatient.js"></script> --}}
  {{!-- <script src="/js/editPatients.js"></script> --}}
  {{!-- <script src="/js/editRecord.js"></script> --}}
  {{!-- <script src="/js/deleteRecord.js"></script> --}}
  {{!-- <script src="/js/createRecord.js"></script> --}}
  {{!-- <script src="/js/createPatient.js"></script> --}}
</body>

</html>