

<div class="wrapper">

		<div class="card wrapper wrapperC  bg-success ">
			<div class="card-body bg-dark">
			<div class="row">
				<div class="column cI1">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
						<div class="form-group column">
							<label for="patientID">Patients ID</label>
							<input type="text" class="form-control" id="patientID" placeholder="">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
						<div class="form-group column">
							<label for="patientName">Patients Name</label>
							<input type="text" class="form-control" id="patientName" placeholder="">
						</div>
					</div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group column">
							<label for="userID">User ID</label>
							<input type="text" class="form-control" id="userID" placeholder="">
						</div>
					</div>
                </div>
                
                <div class="col-xl-8 col-lg-12 col-md-6 col-sm-6 col-12">
                    <div class="form-group column">
						<input type="text" class="form-control" id="recordTitle" placeholder="Record Title">
					</div>
					<div class="form-group column" id="infoID">
						<textarea type="text" class="form-control" id="information" placeholder="Type Record Information Here"></textarea>
					</div>
				</div>
                <div class="col-1">
					
						<button type="button" id="createrecord" name="submit" class="btn btn-primary" >Create Record</button>
					
				</div>
			</div>

			</div>
		
	</div>

</div>