
	<div class="card-body bg-dark">
		<div class="row m-0 col-12">
			<div class="column cI1 col-xl-3">
    	        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12 ">
					<div class="form-group column col-10">
						<label for="patientID">Patients ID</label>
						<input type="text" class="form-control" id="patientID" placeholder="">
					</div>
				</div>
				<div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12 ">
					<div class="form-group column col-10">
						<label for="patientName">Patients Name</label>
						<input type="text" class="form-control" id="patientName" placeholder="">
					</div>
				</div>
    	        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-group column col-10">
						<label for="userID">User ID</label>
						<input type="text" class="form-control" id="userID" placeholder="">
					</div>
				</div>
    	    </div>
	
    	    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-6 column ">
    	        <div class="form-group ">
					<input type="textC" class="form-control" id="recordTitle" placeholder="Record Title">
				</div>
				<div class="form-group " id="infoID">
					<textarea type="textC" class="form-control" id="information" placeholder="Type Record Information Here"></textarea>
				</div>
			</div>
		</div>
		<div class="text-bottom">
			<button type="button" id="createrecord" name="submit" class="btn btn-primary" >Create Record</button>
		</div>
	</div>

