

		<div class="card bg-dark">
			<div class="row">
				<div class="column cI1">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
						<div class="form-group column">
							<label for="fullName">Patients Name</label>
							<input type="text" class="form-control" id="fullName" placeholder="{{user.name}}">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group column">
							<label for="username">Record Title</label>
							<input type="text" class="form-control" id="username" placeholder="{{user.username}}">
						</div>
					</div>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-group">
						<label for="information">Information:</label>
						<textarea type="text" class="form-control" id="information" placeholder="{{user.address}}"></textarea>
					</div>
				</div>
			</div>
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="text-right">
							<button type="button" id="update" name="submit" class="btn btn-primary">Update!</button>
						</div>
					</div>
				</div>
	
		</div>


