<div class="card-body bg-dark row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 h-0 ">
		<h6 class="mb-3 text-white detailT ">Add a New Patient!</h6>
	</div>
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group detialsLables">
		<label class="text-nowrap col-12"  for="name">Patients Name</label>
		<input type="text" class="form-control" id="patientName" placeholder="">
	</div>
	<div class="col-xl-6 col-lg-6 col-md-10 col-sm-6 col-12 form-group detialsLables">
		<label class="text-nowrap col-12" for="birth_date">Patients Birth Date</label>
		<input type="text" class="form-control" id="birth_date" placeholder="">
	</div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group detialsLables">
		<label class="text-nowrap col-12"  for="email">Patients Email</label>
		<input type="text" class="form-control" id="paitentEmail" placeholder="">
	</div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group detialsLables mb-6">
		<label class="text-nowrap col-12"  for="address">Patients Address</label>
		<input type="text" class="form-control" id="patientAddress" placeholder="">
	</div>
	<div class="btn-bottom">
		<button type="button" id="createpatient" name="submit" class="btn btn-primary">Create Patient!</button>
	</div>
</div>

<script src="/js/createPatient.js"></script>
