<div class="homeContainer">

	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-10 ">
		<div class="card ">
			<div class="card-body bg-dark">
				<div class="column">
			        <h6 class="mb-3 text-primary">Recent Notes</h6>
					{{>user-patient-record}}
                </div>
			</div>
		</div>
	</div>

</div>