
<div class="card-body bg-dark">
	<div class="colum col-12">
    	<div class="wrapper col-12">
    	  	<div class="row">
				<div class="button-left">
          			<h6>number of records: {{user.records.length}}</h6>
        		</div>
    	      	<h3 class="mb-3 text-white text-center">Recent Records</h3>
    	    	<div class="button-right">
    	    	  <a class="btn btn-primary-s" href="/api/records/create/{{patient.id}}" role="button">Create New Record</a>
    	    	  <a class="btn btn-green " href="/api/patients/details/{{patient.id}}" role="button">Patient Details</a>
    	    	</div>
    	 	</div>
    	</div>
		{{>user-patient-record}}
    </div>
</div>
