<div class="px-4 py-5 my-5 text-center col-12">
    <div class="row col-12">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white col-4" style="width: auto;">
            <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-5 fw-semibold">List group</span>
            </a>
            {{#each patients as |patient| }}
            <a href="/" class="list-group-item list-group-item-action active py-3 lh-tight text-nowrap" aria-current="true">
                <div class="colum align-center mb-5">
                    <div class="col-md-6">
                      <h2> {{patient.name}}</h2>
                    </div>
                </div> 
            </a>
            {{/each}}
        </div>

        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white col-4" style="width: 100%;">
            <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-5 fw-semibold">List group</span>
            </a>
            {{#each patients as |patient| }}
            <a href="/" class="list-group-item list-group-item-action active lh-tight text-nowrap" aria-current="true">
                <div class="colum align-center mb-5">
                    <div class="col-md-6">
                      <h2> {{patient.name}}</h2>
                    </div>
                </div> 
            </a>
            {{/each}}
        </div>

        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white col-4" style="width: auto;">
            <a href="/" class="d-flex align-items-center flex-shrink-0 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-5 fw-semibold">List group</span>
            </a>
            {{#each patients as |patient| }}
            <a href="/" class="list-group-item list-group-item-action active lh-tight text-nowrap" aria-current="true">
                <div class="colum align-center mb-5">
                    <div class="col-md-6">
                      <h2> {{patient.name}}</h2>
                    </div>
                </div> 
            </a>
            {{/each}}
        </div>
    </div>
</div>