<div class="px-4 py-5 my-5 text-center col-12">
    <div class="row col-12">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white col-12" style="width: auto;">
            <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-5 fw-semibold">List group</span>
            </a>
            {{>user-patient-record}}
        </div>
    </div>
</div>