<form class="form login-form wrapper fadeInDown bg-dark text-white">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <h2>Login</h2>
    </div>
    <!-- Login Form -->
    <form>
      <input type="text" id="email-login" class="fadeIn second" name="login" placeholder="email">
      <input type="text" id="password-login" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/signup">Sign Up Instead?</a>
    </div>

  </div>
</form>

<script src="/js/login.js"></script>
